@model Model.DB_Model.Parametros

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Parametros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValidezPsw" class="control-label"></label>
                <input asp-for="ValidezPsw" class="form-control" />
                <span asp-validation-for="ValidezPsw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasPsw" class="control-label"></label>
                <input asp-for="DiasPsw" class="form-control" />
                <span asp-validation-for="DiasPsw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxLinesScreen" class="control-label"></label>
                <input asp-for="MaxLinesScreen" class="form-control" />
                <span asp-validation-for="MaxLinesScreen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxLinesExport" class="control-label"></label>
                <input asp-for="MaxLinesExport" class="form-control" />
                <span asp-validation-for="MaxLinesExport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDifMin" class="control-label"></label>
                <input asp-for="MaxDifMin" class="form-control" />
                <span asp-validation-for="MaxDifMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAttach" class="control-label"></label>
                <input asp-for="MaxAttach" class="form-control" />
                <span asp-validation-for="MaxAttach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignTicket" class="control-label"></label>
                <input asp-for="AssignTicket" class="form-control" />
                <span asp-validation-for="AssignTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromUserRequest" class="control-label"></label>
                <input asp-for="FromUserRequest" class="form-control" />
                <span asp-validation-for="FromUserRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcarpetaAdjuntoTicket" class="control-label"></label>
                <input asp-for="SubcarpetaAdjuntoTicket" class="form-control" />
                <span asp-validation-for="SubcarpetaAdjuntoTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcarpetaAdjuntoFichaTec" class="control-label"></label>
                <input asp-for="SubcarpetaAdjuntoFichaTec" class="form-control" />
                <span asp-validation-for="SubcarpetaAdjuntoFichaTec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromUserPsw" class="control-label"></label>
                <input asp-for="FromUserPsw" class="form-control" />
                <span asp-validation-for="FromUserPsw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactDefault" class="control-label"></label>
                <input asp-for="ContactDefault" class="form-control" />
                <span asp-validation-for="ContactDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessDefault" class="control-label"></label>
                <input asp-for="ProcessDefault" class="form-control" />
                <span asp-validation-for="ProcessDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateDefault" class="control-label"></label>
                <input asp-for="StateDefault" class="form-control" />
                <span asp-validation-for="StateDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAlert" class="control-label"></label>
                <input asp-for="StateAlert" class="form-control" />
                <span asp-validation-for="StateAlert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainScreenState" class="control-label"></label>
                <input asp-for="MainScreenState" class="form-control" />
                <span asp-validation-for="MainScreenState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFormat" class="control-label"></label>
                <input asp-for="DateFormat" class="form-control" />
                <span asp-validation-for="DateFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pen" class="control-label"></label>
                <input asp-for="Pen" class="form-control" />
                <span asp-validation-for="Pen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pas" class="control-label"></label>
                <input asp-for="Pas" class="form-control" />
                <span asp-validation-for="Pas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Can" class="control-label"></label>
                <input asp-for="Can" class="form-control" />
                <span asp-validation-for="Can" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
