@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="logo">
	<a href="/Home/Index" class="simple-text logo-normal">
		<img src="~/images/logo-png-full128x128.png" alt="Real SA" />
	</a>
</div>
<div class="sidebar-wrapper">
	<ul class="nav">
		@if (User.IsInRole("Administrador") || User.IsInRole("Operador"))
		{
			<li class="nav-item active  ">
				<a role="button" class="menu_link nav-link" href="/Home/Index">
					<i class="material-icons">dashboard</i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item ">
				<a role="button" class="menu_link nav-link" href="/Tickets/Create">
					<i class="material-icons">person</i>
					<p>Nuevo Ticket</p>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" asp-controller="Tickets" asp-action="Index">
					<i class="material-icons">content_paste</i>
					<p>Consultas</p>
				</a>
			</li>
		}
		@if (User.IsInRole("Administrador"))
		{
			<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" data-target="#administracion">
					<i class="material-icons">library_books</i>
					<p>
						Administracion
						<b class="caret"></b>
					</p>

				</a>
				<div class="collapse" id="administracion" style="">
					<ul class="nav">
						<li class="nav-item ">
							<a class="nav-link" href="/Plantas/Index">
								<span class="sidebar-mini"> AP </span>
								<span class="sidebar-normal"> Area Equipos </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/EquipoPrincipal/Index">
								<span class="sidebar-mini"> EP </span>
								<span class="sidebar-normal"> Equipo Principal </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/EquipoSecundario/Index">
								<span class="sidebar-mini"> ES </span>
								<span class="sidebar-normal"> Equipo Secundario </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Componentes/Index">
								<span class="sidebar-mini"> C </span>
								<span class="sidebar-normal"> Componentes </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/RegistroEquipo/Index">
								<span class="sidebar-mini"> CE </span>
								<span class="sidebar-normal"> Clasificación Equipos </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Users/Index">
								<span class="sidebar-mini"> <i class="material-icons">person</i></span>
								<span class="sidebar-normal"> Maestro - Usuarios </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/TipoTrabajo/Index">
								<span class="sidebar-mini"> TT </span>
								<span class="sidebar-normal"> Maestro - Tipo Trabajos </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Parametros/Index">
								<span class="sidebar-mini"> P </span>
								<span class="sidebar-normal">Maestro - Parametros </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Prioridad/Index">
								<span class="sidebar-mini"> Pr </span>
								<span class="sidebar-normal">Maestro - Prioridades </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Procesos/Index">
								<span class="sidebar-mini"> Pro </span>
								<span class="sidebar-normal">Maestro - Procesos </span>
							</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link" href="/EstadoServicio/Index">
								<span class="sidebar-mini"> E </span>
								<span class="sidebar-normal">Maestro - Estado Servicios </span>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/CalificacionServicio/Index">
								<span class="sidebar-mini"> P </span>
								<span class="sidebar-normal">Maestro - Calificacion Servicios</span>
							</a>
						</li>

					</ul>
				</div>
			</li>
		}
	</ul>

</div>