@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-12  col-lg-12 col-xs-12" style="margin-top:100px; margin-bottom:100px">
		<center>
			<img src="~/images/login_principal.gif" alt="Real SA" />
		</center>
	</div>
</div>
